#alumni1 {
  padding: 20px 13% 20px 13%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #082589;
  color: #ffffff;
}

#alumni1 h1 {
  font-family: Cinzel, sans-serif;
  font-size: 65px;
}

#alumni1 img {
  max-width: 100%;
}

#alumni-button {
  background-color: #082589;
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

#alumni2 .btn:hover {
  background-color: #FFC61E;
  color: white;
}

#alumni2 {
  width: 75%;
  margin: 30px auto 30px auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#alumni2 button{
  margin-bottom: 20px;
}

#alumni2 p{
  text-align: center;
  font-size: 18px;
}

#alumni2 table {
  margin: auto;
}

#alumni2 td {
  text-align: left;
  padding: 10px 10px 10px 10px;
}

@media (max-width: 500px) {
  #alumni2 td {
    display: block;
  }

  #alumni1 h1 {
    font-size: 45px;
  }
}
