#brother-row {
  padding:0px 10% 0px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #082589;
  color: #ffffff;
  font-family: "BillionDreams";
  
}

#brother-row-group {
  display: inline-flex;
}

#brother-row h1 {
  padding:40px 20px 40px 20px;
  font-size: 65px;
}

#brother-card {
  padding:15px 15px 15px 15px;
  
}

#brother-card .card {
  color: #000000;
  font-family: Roboto, sans-serif;
  max-width: 400px;
  font-family: "Montserrat";
}

#brother-card .card img {
  color: #000000;
  font-family: Roboto, sans-serif;
  max-width: 400px;
}

#brother-row-2 {
  padding:0px 10% 0px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #000000;
  font-family: "BillionDreams";
}

#brother-row-2 h1 {
  padding:40px 20px 40px 20px;
  font-size: 65px;
}

#hidden-card {
  visibility: hidden;
  padding: 15px 15px 15px 15px;
}
#hidden-card .card {
  max-width: 400px;
}

#hidden-card .card img {
  max-width: 400px;
}

@media(max-width: 1264px) {
  #brother-card {
    padding:10px 10px 10px 10px;
  }

  #hidden-card {
    padding:10px 10px 10px 10px;
  }

  #brother-card .card h3{
    font-size: 23px;
  }
}

@media(max-width: 960px) {
  #brother-row h1 {
    font-size: 45px;
  }

  #brother-row-2 h1 {
    font-size: 45px;
  }
  
  #brother-row {
    padding:0px 10px 0px 10px;
  }

  #brother-row-2 {
    padding:0px 10px 0px 10px;
  }

  #brother-card .card h3{
    font-size: 20px;
  }
}

@media(max-width: 640px) {
  #brother-row-group {
    display: block;
  }

  #brother-card .card h3{
    font-size: 20px;
  }
}
