header{
  border-bottom: #082589 10px solid;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 30px 20% 30px 20%;
}

.text h1 {
  font-size: 35px;
  font-family: "Montserrat_Bold";
}

.text h2 {
  font-size: 25px;
  font-weight: 550;
}


#event {
  padding: 30px 10% 30px 10%;
  background: #ffffff;
  color: #171717;
  display: flex;
}

#event-text{
  width: 65%;
}

#event-logo{
  width: 35%;
}

#event-logo img{
  width: 90%;
  transform:
    translate(50px, 0px);
}

#registration {
  padding: 30px 15% 30px 15%;
  background: #ffffff;
  text-decoration: none;
  color: #ffffff;
  display: flex;
}

#registration a{
  background-color: #082589;
  color: #ffffff;
  border: 2px solid #082589;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50%;
}

#registration a:hover, a:active {
  background-color: #FFC61E;
  color: white;
}
