#home {
  display: flex;
  flex-direction: column;
}

#showcase{
  overflow: hidden;
  background-color: #082589;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#showcase img{
  width: 100%;
}

#showcase-image{
  width: 70%;
  float: right;
  max-width: 1440px;
}

#showcase-text{
  width: 30%;
  text-align: center;
}

#showcase-text-mobile{
  width: 100%;
  text-align: center;
  display: none;
  padding: 30px 0;
}

#showcase h1{
  font-family: 'BillionDreams';
  font-size: 6rem;
  padding: 20px 20px 20px 20px;
  font-weight: 550;
  color: #FFFFFF;
}

#showcase div{
  float: right;
}

#intro{
  font-size: 18px;
  color: #FFFFFF;
  background: #171717;
  padding: 50px 25% 50px 25%;
  font-family: "Montserrat";
  text-align: center;
}

#intro h1{
  font-family: 'Cinzel', serif;
  text-align: center;
  color: #FFC61E;
}

#president{
  display: flex;
  padding: 20px 10%;
  align-items: center;
  background: #082589;
}

#president img{
  width: 100%;
  padding: 0 10%;
}
#president-image{
  text-align: center;
}

#president-image h1 {
  color:#ffffff;
  font-family: "BillionDreams";
  padding: 8px 0;
}

#president-message{
  color:#ffffff;
  padding:0 20px;
  float: right;
  font-family: "Montserrat";
  margin: 20px 0;
}

#president-message h2{
  font-family: "Montserrat_Italic";
  font-size: 20px;
}

/*
#president-image{
  float: right;
  transform: translate(0, -8%); 
  width: 40%
}
*/

#links {
  padding: 10px 0 10px 0;
  text-align: center;
  color: #082589;
  font-family: "Montserrat";
}

#links h1{
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

#links a{
  color: #082589;
  text-decoration: none;
  font-family: "Montserrat_Bold";
}

#links a:hover{
  color: #d1d5d5;
}

#links ul{
  text-align: center;
  padding: 0;
}

#links img{
  max-height: 200px;
  max-width: 200px;
  width: 15%;
  padding: 0 0 10px 0;
}

#links-text{
  text-align: center;
  display: inline;
  font-weight: 550;
  width:15%

}

#links-text-center{
  text-align: center;
  display: inline;
  font-weight: 550;
  padding: 0 20% 0 20%;
  width:15%
}

#links-image{
  text-align: center;
  display: inline;
  padding: 0 9% 0 9%;
  width:15%
}

/* Firefox specific rule */
/* Firefox cannot render "Cinzel" bold, this renders the font as normal to prevent issues */
@-moz-document url-prefix() {
  #links h1{
    font-weight: normal;
  }
}

@media (max-width: 1265px) {
  #showcase-text{
    transform: translate(0,0%);

    }
    #showcase h1{
    font-size: 4rem;

  }
}

@media (max-width: 1170px) {
  #showcase-text{
    transform: translate(0, 0%);
  }

  #showcase h1{
    font-size: 4rem;

  }
}

@media (max-width: 946px) {
  #showcase-text{
    transform: translate(0, 0);
  }

  #president img{
      margin: 0 0 0 0;
  }

  #president-image{
      margin: 0 0 0 0;
  }
}

@media (max-width: 909px) {
  #showcase-image{
    width: 100%;
    float: right;
  }

  #showcase-text{
    display: none;
  }

  #showcase-text-mobile{
    display: block;
  }

  #intro{
    padding: 50px 10% 50px 10%;
  }

  #links-image{
    padding: 0 6% 0 6%;
  }

  #links-text{

    padding: 0 0 0 0;
  }

  #links-text-center{
    padding: 0 8% 0 8%;
  }
  #showcase h1{
    font-size: 3rem;
  }

  #showcase{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 950px) {
  #president{
    height: 720px;
  }

  #president-message{
    width: 100%
  }

  #president-image{
    width: 100%;
    text-align: center;
  }

  #president img{
    float: none;
  }
}

@media (max-width: 800px) {
  #showcase-text{
    transform: translate(0, 0%);
  }

  #showcase h1{
    font-size: 2rem;

  }
}


@media (max-width: 634px) {
  #showcase h1{
    font-size: 2rem;
  }

  #president {
    flex-direction: column;
    padding: 0;
  }

  #president-message{
    width: 100%
  }

  #president-message h1{
    font-size: 30px;
    transform:translate(-20%, 0);
  }

  #links-text{
    font-size: 10px;
    font-weight: 900;
  }

  #links-text-center{
    font-size: 10px;
    font-weight: 900;
  }
}

@media (max-width: 530px){
  #president{
    height: 850px;
  }
}
