header{
  text-align: center;
  margin:auto;
  overflow: hidden;
  font-weight: bold;
  padding: 20px 0 20px 0;
  position: relative;
}

header ul{
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 0;
}

header li{
  text-align: center;
  float: left;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /*
  padding: 10px 10px 10px 10px;
  */
}

header a{
  text-align: center;
  color: #082589;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: "Montserrat_Bold";
}

#header-logo{
  width: 10%;
  float: left;
  overflow: hidden;
}

#header-logo img{
  width: 80px;
  float: right;
}

#header-navi-title{
  font-family: 'Cinzel', serif;
  font-size: 40px;
}

#header-navi-title a{
  margin-left: auto;
  margin-right: auto;
}

#header-navi-title img{
  width: 100%;
  transform: translateX(-3.25%);
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
#header-navi{
  width: 100%;
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

#header-navi li {
  display: inline;
}

#header-navi ul {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-navi a{
  text-decoration: none;
  text-align: center;
  display:inline-block;
  padding:10px;
}
*/

.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
}

footer {
  text-align: center;
  color: #FFFFFF;
  background: #082589;
  padding: 20px 0;
  font-family: "Montserrat";
}

footer ul{
  text-align: center;
  padding: 0;
  margin: 0;
}

footer li{
  display: inline;
  padding: 10px 10px 10px 10px;
}

footer a{
  font-weight: 550;
  color: #FFFFFF;
  font-size: 16px;
}

#footer-title{
  font-family: 'BillionDreams', serif;
  font-size: 40px;
  color: #FFC61E;
}

#footer-social{
  padding: 0 10px 0 10px ;
  transition-duration: 0.4s;
}

#footer-social:hover{
  color: #919494;
}

#footer-navi a{
  text-decoration: none;
  transition-duration: 0.4s;
  font-family: "Montserrat_Bold";
}

#footer-navi a:hover{
  color: #919494;
}

#footer-copyright a{
    text-decoration: underline;
}

#footer-copyright a:hover{
  color: #919494;
}


/* Firefox specific rule */
/* Firefox cannot render "Cinzel" bold, this renders the font as normal to prevent issues */
@-moz-document url-prefix() {
  #header-navi-title{
    font-weight: normal;
  }
}
@media (max-width: 800px) {
  #header-navi-title img {
    padding: 0px 15px;
  }
}
/*
@media (max-width: 909px) {
  header{
    padding: 0 0 10px 0;
  }

  header ul{
    padding: 0px 10px 10px 10px;
  }

  header li{
    float: left;
    display: inline;
    padding: 5px 10px 5px 10px;

  }

  #header-navi{
    width: 75%;
  }

  #header-navi-title{
    font-size: 30px;
    padding: 10px 10px 10px 25px;
  }

  #header-logo{
    width: 25%;
    float: left;
    overflow: hidden;
  }
}

@media (max-width: 500px){
  #header-logo img{
    padding: 15px 0 0 0;
    width: 110px;
    float: left;
    position: absolute;
  }

  #header-navi-title{
    font-size: 27px;
  }
}

*/